apiVersion: v1
kind: Service
metadata:
  name: postgresdb
  labels:
    service: postgresdb
spec:
  type: NodePort
  ports:
  - port: 5432
    nodePort: 32001
    targetPort: 5432
  selector:
    service: postgresdb
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pv-claim
  labels:
    service: postgresdb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    service: postgresdb
  name: postgresdb-deployment
spec:
  selector:
    matchLabels:
      service: postgresdb
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: postgresdb
    spec:
      securityContext:
        runAsUser: 999
        fsGroup: 999
      containers:
      - image: 34.239.46.91:32003/postgresdb:latest
        name: postgresdb
        ports:
        - containerPort: 5432
          name: postgresdb-port
          protocol: TCP
        volumeMounts:
          - name: postgresql-persistent-storage
            mountPath: "/var/lib/postgresql"
      volumes:
        - name: postgresql-persistent-storage
          persistentVolumeClaim:
            claimName: postgres-pv-claim
