<?xml version='1.0' encoding='UTF-8'?>
<hudson>
    <disabledAdministrativeMonitors/>
    <version>2.73.1</version>
    <numExecutors>2</numExecutors>
    <mode>NORMAL</mode>
    <useSecurity>true</useSecurity>
    <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
        <permission>hudson.model.Hudson.Administer:alexey</permission>
    </authorizationStrategy>
    <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
        <disableSignup>true</disableSignup>
        <enableCaptcha>false</enableCaptcha>
    </securityRealm>
    <disableRememberMe>false</disableRememberMe>
    <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
    <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
    <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
    <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
    <jdks/>
    <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
    <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
    <clouds>
        <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.1">
            <name>kubernetes</name>
            <defaultsProviderTemplate></defaultsProviderTemplate>
            <templates/>
            <skipTlsVerify>true</skipTlsVerify>
            <jenkinsUrl>http://a45d68027cc8c11e78f890ee6994f0a1-1275993907.us-east-1.elb.amazonaws.com:8080</jenkinsUrl>
            <credentialsId>kubernetes-credentials</credentialsId>
            <containerCap>10</containerCap>
            <retentionTimeout>5</retentionTimeout>
            <connectTimeout>0</connectTimeout>
            <readTimeout>0</readTimeout>
            <maxRequestsPerHost>32</maxRequestsPerHost>
        </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
    </clouds>
    <quietPeriod>5</quietPeriod>
    <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
    <views>
        <hudson.model.AllView>
            <owner class="hudson" reference="../../.."/>
            <name>all</name>
            <filterExecutors>false</filterExecutors>
            <filterQueue>false</filterQueue>
            <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
    </views>
    <primaryView>all</primaryView>
    <slaveAgentPort>50000</slaveAgentPort>
    <enabledAgentProtocols>
        <string>JNLP3-connect</string>
    </enabledAgentProtocols>
    <label>master</label>
    <nodeProperties/>
    <globalNodeProperties/>
</hudson>